{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!--  Start Breadcrumb 
    =============================================  -->
  <div class="breadcrumb-area with-banner bg-cover text-center bg-dark text-light" style="background-image: url('{% static 'assets/img/banner/7.png' %}');">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h1>Contact Us</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li>
                <a href="#"><i class="fas fa-home"></i> Home</a>
              </li>
              <li class="active">Contact</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumb -->

  <!--  Start Contact 
    =============================================  -->
  <div class="contact-style-one-area default-padding">
    <div class="container">
      <div class="contact-style-one-items">
        <div class="row align-center">
          <div class="col-lg-7 pr-60 pr-md-15 pr-xs-15">
            <div class="contact-style-one-tabs">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="contact_tab_1" data-bs-toggle="tab" data-bs-target="#contact_tabs_1" type="button" role="tab" aria-controls="contact_tabs_1" aria-selected="true">New York</button>
                  <button class="nav-link" id="contact_tab_2" data-bs-toggle="tab" data-bs-target="#contact_tabs_2" type="button" role="tab" aria-controls="contact_tabs_2" aria-selected="false">Paris</button>
                  <button class="nav-link" id="contact_tab_3" data-bs-toggle="tab" data-bs-target="#contact_tabs_3" type="button" role="tab" aria-controls="contact_tabs_3" aria-selected="true">Dubai</button>
                  <button class="nav-link" id="contact_tab_4" data-bs-toggle="tab" data-bs-target="#contact_tabs_4" type="button" role="tab" aria-controls="contact_tabs_4" aria-selected="false">Chaina</button>
                </div>
              </nav>

              <div class="contact-one-tab-info">
                <div class="tab-content" id="nav-tabContent">
                  <!-- Single Item -->
                  <div class="tab-pane fade show active" id="contact_tabs_1" role="tabpanel" aria-labelledby="contact_tab_1">
                    <div class="global-location-items">
                      <!-- Single Item -->
                      <div class="location-item hover-active-item active">
                        <img src="{% static 'assets/img/icon/location.png' %}" alt="Image Not Found" />
                        <div class="location-details">
                          <h5>NY Visa Service</h5>
                          <p>70240 Avenue of the Moon MF Tower, East California</p>
                        </div>
                      </div>
                      <!-- Single Item -->
                      <!-- Single Item -->
                      <div class="location-item hover-active-item">
                        <img src="{% static 'assets/img/icon/location.png' %}" alt="Image Not Found" />
                        <div class="location-details">
                          <h5>Immigration Service</h5>
                          <p>70240 Avenue of the Moon MF Tower, East California</p>
                        </div>
                      </div>
                      <!-- Single Item -->
                      <!-- Single Item -->
                      <div class="location-item hover-active-item">
                        <img src="{% static 'assets/img/icon/location.png' %}" alt="Image Not Found" />
                        <div class="location-details">
                          <h5>Travel Visas</h5>
                          <p>70240 Avenue of the Moon MF Tower, East California</p>
                        </div>
                      </div>
                      <!-- Single Item -->
                      <!-- Single Item -->
                      <div class="location-item hover-active-item">
                        <img src="{% static 'assets/img/icon/location.png' %}" alt="Image Not Found" />
                        <div class="location-details">
                          <h5>Schengen Visa</h5>
                          <p>70240 Avenue of the Moon MF Tower, East California</p>
                        </div>
                      </div>
                      <!-- Single Item -->
                      <img src="{% static 'assets/img/shape/map.png' %}" alt="Image Not Found" />
                    </div>
                  </div>
                  <!-- End Single Item -->

                  <!-- Single Item -->
                  <div class="tab-pane fade" id="contact_tabs_2" role="tabpanel" aria-labelledby="contact_tab_2">
                    <div class="global-location-items">
                      <!-- Single Item -->
                      <div class="location-item hover-active-item active">
                        <img src="{% static 'assets/img/icon/location.png' %}" alt="Image Not Found" />
                        <div class="location-details">
                          <h5>NY Visa Service</h5>
                          <p>70240 Avenue of the Moon MF Tower, East California</p>
                        </div>
                      </div>
                      <!-- Single Item -->
                      <!-- Single Item -->
                      <div class="location-item hover-active-item">
                        <img src="{% static 'assets/img/icon/location.png' %}" alt="Image Not Found" />
                        <div class="location-details">
                          <h5>Immigration Service</h5>
                          <p>70240 Avenue of the Moon MF Tower, East California</p>
                        </div>
                      </div>
                      <!-- Single Item -->
                      <!-- Single Item -->
                      <div class="location-item hover-active-item">
                        <img src="{% static 'assets/img/icon/location.png' %}" alt="Image Not Found" />
                        <div class="location-details">
                          <h5>Travel Visas</h5>
                          <p>70240 Avenue of the Moon MF Tower, East California</p>
                        </div>
                      </div>
                      <!-- Single Item -->
                      <!-- Single Item -->
                      <div class="location-item hover-active-item">
                        <img src="{% static 'assets/img/icon/location.png' %}" alt="Image Not Found" />
                        <div class="location-details">
                          <h5>Schengen Visa</h5>
                          <p>70240 Avenue of the Moon MF Tower, East California</p>
                        </div>
                      </div>
                      <!-- Single Item -->
                      <img src="{% static 'assets/img/shape/map.png' %}" alt="Image Not Found" />
                    </div>
                  </div>
                  <!-- End Single Item -->

                  <!-- Single Item -->
                  <div class="tab-pane fade" id="contact_tabs_3" role="tabpanel" aria-labelledby="contact_tab_3">
                    <div class="global-location-items">
                      <!-- Single Item -->
                      <div class="location-item hover-active-item active">
                        <img src="{% static 'assets/img/icon/location.png' %}" alt="Image Not Found" />
                        <div class="location-details">
                          <h5>NY Visa Service</h5>
                          <p>70240 Avenue of the Moon MF Tower, East California</p>
                        </div>
                      </div>
                      <!-- Single Item -->
                      <!-- Single Item -->
                      <div class="location-item hover-active-item">
                        <img src="{% static 'assets/img/icon/location.png' %}" alt="Image Not Found" />
                        <div class="location-details">
                          <h5>Immigration Service</h5>
                          <p>70240 Avenue of the Moon MF Tower, East California</p>
                        </div>
                      </div>
                      <!-- Single Item -->
                      <!-- Single Item -->
                      <div class="location-item hover-active-item">
                        <img src="{% static 'assets/img/icon/location.png' %}" alt="Image Not Found" />
                        <div class="location-details">
                          <h5>Travel Visas</h5>
                          <p>70240 Avenue of the Moon MF Tower, East California</p>
                        </div>
                      </div>
                      <!-- Single Item -->
                      <!-- Single Item -->
                      <div class="location-item hover-active-item">
                        <img src="{% static 'assets/img/icon/location.png' %}" alt="Image Not Found" />
                        <div class="location-details">
                          <h5>Schengen Visa</h5>
                          <p>70240 Avenue of the Moon MF Tower, East California</p>
                        </div>
                      </div>
                      <!-- Single Item -->
                      <img src="{% static 'assets/img/shape/map.png' %}" alt="Image Not Found" />
                    </div>
                  </div>
                  <!-- End Single Item -->

                  <!-- Single Item -->
                  <div class="tab-pane fade" id="contact_tabs_4" role="tabpanel" aria-labelledby="contact_tab_4">
                    <div class="global-location-items">
                      <!-- Single Item -->
                      <div class="location-item hover-active-item active">
                        <img src="{% static 'assets/img/icon/location.png' %}" alt="Image Not Found" />
                        <div class="location-details">
                          <h5>NY Visa Service</h5>
                          <p>70240 Avenue of the Moon MF Tower, East California</p>
                        </div>
                      </div>
                      <!-- Single Item -->
                      <!-- Single Item -->
                      <div class="location-item hover-active-item">
                        <img src="{% static 'assets/img/icon/location.png' %}" alt="Image Not Found" />
                        <div class="location-details">
                          <h5>Immigration Service</h5>
                          <p>70240 Avenue of the Moon MF Tower, East California</p>
                        </div>
                      </div>
                      <!-- Single Item -->
                      <!-- Single Item -->
                      <div class="location-item hover-active-item">
                        <img src="{% static 'assets/img/icon/location.png' %}" alt="Image Not Found" />
                        <div class="location-details">
                          <h5>Travel Visas</h5>
                          <p>70240 Avenue of the Moon MF Tower, East California</p>
                        </div>
                      </div>
                      <!-- Single Item -->
                      <!-- Single Item -->
                      <div class="location-item hover-active-item">
                        <img src="{% static 'assets/img/icon/location.png' %}" alt="Image Not Found" />
                        <div class="location-details">
                          <h5>Schengen Visa</h5>
                          <p>70240 Avenue of the Moon MF Tower, East California</p>
                        </div>
                      </div>
                      <!-- Single Item -->
                      <img src="{% static 'assets/img/shape/map.png' %}" alt="Image Not Found" />
                    </div>
                  </div>
                  <!-- End Single Item -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="contact-form-style-one">
              <h2>Have questions? <br /> Get in touch!</h2>
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %} <!-- This should be right after the form tag -->

                <!-- Personal Information -->
                <div class="mb-3">
                  <label class="form-label fw-bold">Full Name</label>
                  <input type="text" name="name" class="form-control" placeholder="Enter your full name" required />
                </div>

                <div class="mb-3">
                  <label class="form-label fw-bold">Email</label>
                  <input type="email" name="email" class="form-control" placeholder="Enter your email" required />
                </div>

                <div class="mb-3">
                  <label class="form-label fw-bold">Phone Number</label>
                  <input type="text" name="phone" class="form-control" placeholder="Enter your phone number" required />
                </div>

                <!-- Additional Info -->
                <div class="mb-3">
                  <label class="form-label fw-bold">Message</label>
                  <textarea name="message" class="form-control" rows="4" placeholder="Write any additional information..."></textarea>
                </div>

                <!-- Submit -->
                <div class="text-center">
                  <button type="submit" class="btn btn-primary px-5 py-2 rounded-pill">Submit Application</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Contact -->

  <!--  Start Map 
    =============================================  -->
  <div class="maps-area bg-gray overflow-hidden">
    <div class="google-maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48388.929990966964!2d-74.00332!3d40.711233!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY!5e0!3m2!1sen!2sus!4v1653598669477!5m2!1sen!2sus"></iframe>
    </div>
  </div>
  <!-- End Map -->
{% endblock %}

{% block extra_js %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const form = document.querySelector('.contact-form-style-one form')
    
      const fields = {
        name: form.querySelector('input[name="name"]'),
        email: form.querySelector('input[name="email"]'),
        phone: form.querySelector('input[name="phone"]'),
        message: form.querySelector('textarea[name="message"]')
      }
    
      // Helper functions
      function showError(input, message) {
        clearError(input)
        const errorElem = document.createElement('div')
        errorElem.className = 'error-message'
        errorElem.style.color = 'red'
        errorElem.style.fontSize = '13px'
        errorElem.style.marginTop = '5px'
        errorElem.textContent = message
        input.classList.add('input-error')
        input.parentNode.appendChild(errorElem)
      }
    
      function clearError(input) {
        const next = input.parentNode.querySelector('.error-message')
        if (next) next.remove()
        input.classList.remove('input-error')
      }
    
      // Validation functions
      function validateName() {
        const value = fields.name.value.trim()
        const regex = /^[A-Za-z\s]+$/
        if (!value) return showError(fields.name, 'Name is required'), false
        if (!regex.test(value)) return showError(fields.name, 'Enter a valid name'), false
        clearError(fields.name)
        return true
      }
    
      function validateEmail() {
        const value = fields.email.value.trim()
        const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/
        if (!value) return showError(fields.email, 'Email is required'), false
        if (!regex.test(value)) return showError(fields.email, 'Enter a valid email'), false
        clearError(fields.email)
        return true
      }
    
      function validatePhone() {
        const value = fields.phone.value.trim()
        const regex = /^[0-9]{10,11}$/
        if (!value) return showError(fields.phone, 'Phone number is required'), false
        if (!regex.test(value)) return showError(fields.phone, 'Enter a valid phone number.'), false
        clearError(fields.phone)
        return true
      }
    
      function validateMessage() {
        const value = fields.message.value.trim()
        if (!value) {
          showError(fields.message, 'Message is required')
          return false
        }
        clearError(fields.message)
        return true
      }
    
      // Live validation
      fields.name.addEventListener('input', validateName)
      fields.email.addEventListener('input', validateEmail)
      fields.phone.addEventListener('input', validatePhone)
      fields.message.addEventListener('input', validateMessage)
    
      // Form submit
      form.addEventListener('submit', function (e) {
        let valid = true
        if (!validateName()) valid = false
        if (!validateEmail()) valid = false
        if (!validatePhone()) valid = false
        if (!validateMessage()) valid = false
    
        if (!valid) e.preventDefault()
      })
    })
  </script>
{% endblock %}
